.check-in-layout
  width: 100vw
  padding: 16px

  .table-header
    p
      font-size: 12px
      color: #757575
  
  .no-students
    font-size: 0.8em

  .check-in-list
    border-top: 1px solid #e0e0e0
    margin: 0 -24px
    padding: 0 24px

    p
      font-size: 13px
      color: #212121
  
  .check-in-list:hover
    background-color: #eeeeee

  .check-in-list:last-child
    border-bottom: 1px solid #e0e0e0


  .student-info
    padding-right: 16px
    display: inline-block

    md-icon
      color: rgb(114, 114, 114)
      margin-right: 8px

  .button-container
    text-align: center
    padding-top: 16px

    .submit-button
      background-color: #2196f3
      color: #ffffff

  .logo
    margin: 0px auto 24px auto
    width: 64px
    height: 64px
    background-image: url(/assets/images/logo.png)
    background-size: 64px
    background-position: center
    background-repeat: no-repeat

  .info
    text-align: center
