<div class="check-in-layout" fxLayout="row">
  <div fxFlex="10" fxHide.xs></div>
  <div fxFlex="80" fxFlex.xs="100">
    <md-card>
      <md-card-title>签到次数</md-card-title>
      <div class="student-info">
        <md-icon>person</md-icon>
        <md-input-container>
          <input mdInput placeholder="姓名">
        </md-input-container>
      </div>
      <div class="student-info">
        <md-icon>school</md-icon>
        <md-input-container>
          <input mdInput placeholder="学号">
        </md-input-container>
      </div>
    </md-card>
  </div>
  <div fxFlex="10" fxHide.xs></div>
</div>
