.check-in-layout
  width: 100vw
  padding: 16px

  .table-header
    p
      font-size: 12px
      color: #757575
  
  .no-students
    font-size: 0.8em

  .check-in-list
    border-top: 1px solid #e0e0e0

    p
      font-size: 13px
      color: #212121

  .check-in-list:last-child
    border-bottom: 1px solid #e0e0e0


  .student-info
    padding-right: 16px

    md-icon
      color: rgb(114, 114, 114)
      margin-right: 8px

  .button-container
    text-align: center
    padding-top: 16px

    .submit-button
      background-color: #2196f3
      color: #ffffff
