.addcourse-layout
  width: 100vw
  padding: 16px

  md-card
    width: 40vw

    .course-info
      margin-right: 16px

      .info-form
        text-align: center

        md-icon
          color: rgb(114, 114, 114)

        md-input-container
          width: 100%
          margin-bottom: -8px

        .student-name
          display: none

        label
          font-size: 0.9em
          border: 1px solid #e0e0e0
          display: inline-block
          padding: 6px
          cursor: pointer

        .error-message
          font-size: 0.9em
          color: #f44336
          margin-bottom: 24px

        .submit-button
          background-color: #2196f3
          color: #ffffff
