.course-layout
  width: 100vw
  padding: 16px 8px

  .course-info
    margin-right: 16px

    .info-form
      text-align: center

      md-input-container
        width: 100%
        margin-bottom: -8px

      .error-message
        font-size: 0.9em
        color: #f44336
        margin: 16px 0px 24px 0px

      .submit-button
        background-color: #2196f3
        color: #ffffff

  .xs-course-info
    margin: 0px 8px 8px 8px

  .test
    padding: 0px

    @media (max-width: 599px)
      margin: 8px

    .tab-content
      padding: 24px

      md-list
        padding-top: 0px

        .tableHeader
          p
            font-size: 12px
            color: #757575

        .testList
          padding-left: 24px
          padding-right: 24px
          margin-left: -24px
          margin-right: -24px
          border-top: 1px solid #e0e0e0

          p
            font-size: 13px
            color: #212121

        .testList:hover
          background-color: #eeeeee

        .testList:last-child
          border-bottom: 1px solid #e0e0e0

      .page-number-container
        margin-top: 16px
        text-align: right

        button
          margin-left: 8px

        .current
          background-color: #2196f3
          color: #ffffff
