<div class="course-layout" fxLayout="row" *ngIf="course">
  <div fxFlex="10" fxHide.xs></div>
  <div fxFlex="80" fxFlex.xs="100" fxLayout.xs="column" fxLayoutAlign.gt-xs="start start">
    <md-card fxFlex.gt-xs="30" class="course-info">
      <md-card-title>{{course.name}}</md-card-title>
      <md-card-subtitle fxHide.gt-xs>{{course.time}} {{course.classroom}}</md-card-subtitle>
      <form #info="ngForm" class="info-form" *ngIf="course" fxHide.xs>
        <md-input-container>
          <input mdInput placeholder="名称" name="name" [ngModel]="course.name">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="时间" name="time" [ngModel]="course.time">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="教室" name="classroom" [ngModel]="course.classroom">
        </md-input-container>
        <div class="error-message">{{errorMessage}}</div>
        <button md-raised-button class="submit-button" (click)="updateCourse(info.value)">提交修改</button>
      </form>
    </md-card>
    <div fxFlex.gt-xs="16px"></div>
    <!-- 考题列表 -->
    <md-card fxFlex.gt-xs="70" class="test">
      <md-tab-group>
        <md-tab label="试题列表">
          <div class="tab-content">
            <md-card-title class="title-container">
              <span class="title">试题列表</span>
              <button md-icon-button class="add-button" mdTooltip="添加试题" (click)="creatTest()">
                <md-icon>add</md-icon>
              </button>
            </md-card-title>
            <md-list>
              <md-list-item class="tableHeader">
                <p fxFlex="33">试题名称</p>
                <p fxFlex="33">有效时间</p>
                <p fxFlex="33">试题状态</p>
              </md-list-item>
              <md-list-item class="testList" *ngFor="let test of displayTests" (click)=gotoTest(test)>
                <p fxFlex="33">{{test.name}}</p>
                <p fxFlex="33">{{test.time}}</p>
                <p fxFlex="33">{{test.state}}</p>
              </md-list-item>
            </md-list>
            <div class="page-number-container">
              <button md-icon-button [class.current]="page == currentTestsPage" *ngFor="let page of testsPages" (click)="gotoTestPage(page)">{{page}}</button>
            </div>
          </div>
        </md-tab>
        <md-tab label="学生名单">
          <div class="tab-content">
            <md-card-title>学生名单</md-card-title>
            <md-list>
              <md-list-item class="tableHeader">
                <p fxFlex="25">学号</p>
                <p fxFlex="25">姓名</p>
                <p fxFlex="25">平均成绩</p>
                <p fxFlex="25">历史签到率</p>
              </md-list-item>
              <md-list-item class="testList" *ngFor="let student of displayStudents">
                <p fxFlex="25">{{student.id}}</p>
                <p fxFlex="25">{{student.name}}</p>
                <p fxFlex="25">0</p>
                <p fxFlex="25">0%</p>
              </md-list-item>
            </md-list>
            <div class="page-number-container">
              <button md-icon-button [class.current]="page == currentStudentsPage" *ngFor="let page of studentsPages" (click)="gotoStudentPage(page)">{{page}}</button>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
  <div fxFlex="10" fxHide.xs></div>
</div>
