<div class="course-layout" fxLayout="row" *ngIf="course">
  <div fxFlex="10" fxHide.xs></div>
  <div fxFlex="80" fxFlex.xs="100" fxLayout.xs="column" fxLayoutAlign.gt-xs="start start">
    <md-card fxFlex.gt-xs="30" class="course-info">
      <md-card-title>{{course.name}}</md-card-title>
      <md-card-subtitle fxHide.gt-xs>{{course.time}} {{course.classroom}}</md-card-subtitle>
      <form #info="ngForm" class="info-form" *ngIf="course" fxHide.xs>
        <md-input-container>
          <input mdInput placeholder="名称" name="name" [ngModel]="course.name">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="时间" name="time" [ngModel]="course.time">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="教室" name="classroom" [ngModel]="course.classroom">
        </md-input-container>
        <div class="error-message">{{errorMessage}}</div>
        <button md-raised-button class="submit-button" (click)="updateCourse(info.value)">提交修改</button>
      </form>
    </md-card>
    <div fxFlex.gt-xs="16px"></div>
    <!-- 考题列表 -->
    <md-card fxFlex.gt-xs="70" class="test">
      <md-tab-group>
        <md-tab label="试题列表">
          <div class="tab-content">
            <md-card-title class="title-container">
              <span class="title">试题列表</span>
              <button md-icon-button class="add-button" mdTooltip="添加试题" (click)="creatTest()">
                <md-icon>add</md-icon>
              </button>
            </md-card-title>
            <md-list>
              <md-list-item class="tableHeader">
                <p fxFlex="33">试题名称</p>
                <p fxFlex="33">有效时间</p>
                <p fxFlex="33">试题状态</p>
                <p fxFlex="40px" class="icon-header">操作</p>
              </md-list-item>
              <md-list-item class="testList" *ngFor="let test of displayTests; let myindex = index">
                <p fxFlex="33" (click)=gotoTest(test)>{{test.name}}</p>
                <p fxFlex="33" (click)=gotoTest(test)>{{toDateString(test.startTime)}} - {{toDateString(test.endTime)}}</p>
                <p fxFlex="33" (click)=gotoTest(test)>{{checkState(myindex)}}</p>
                <button md-icon-button [mdMenuTriggerFor]="menu">
                  <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                  <button md-menu-item (click)="shareTest(test.name)">
                    <md-icon>share</md-icon>
                    <span>分 享</span>
                  </button>
                  <button md-menu-item (click)="editTest(test.name)">
                    <md-icon>edit</md-icon>
                    <span>编 辑</span>
                  </button>
                  <button md-menu-item (click)="deleteTest(test.name)">
                    <md-icon>delete</md-icon>
                    <span>删 除</span>
                  </button>
                </md-menu>
              </md-list-item>
            </md-list>
            <div class="page-number-container">
              <button md-icon-button [class.current]="page == currentTestsPage" *ngFor="let page of testsPages" (click)="gotoTestPage(page)">{{page}}</button>
            </div>
          </div>
        </md-tab>
        <md-tab label="学生名单">
          <div class="tab-content">
            <md-card-title class="title-container">
              <span class="title">学生名单</span>
              <button md-icon-button class="add-button" mdTooltip="添加学生" (click)="addStudent()">
                <md-icon>add</md-icon>
              </button>
            </md-card-title>
            <md-list>
              <md-list-item class="tableHeader">
                <p fxFlex="24">学号</p>
                <p fxFlex="24">姓名</p>
                <p fxFlex="24">平均成绩</p>
                <p fxFlex="24">历史签到率</p>
                <p fxFlex="8"></p>
              </md-list-item>
              <md-list-item class="testList" *ngFor="let student of displayStudents">
                <p fxFlex="24">{{student.id}}</p>
                <p fxFlex="24">{{student.name}}</p>
                <p fxFlex="24">0</p>
                <p fxFlex="24">0%</p>
                <button md-icon-button (click)="deleteStudent(student.id)">
                  <md-icon>delete</md-icon>
                </button>
              </md-list-item>
            </md-list>
            <div class="page-number-container">
              <button md-icon-button [class.current]="page == currentStudentsPage" *ngFor="let page of studentsPages" (click)="gotoStudentPage(page)">{{page}}</button>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
  <div fxFlex="10" fxHide.xs></div>
</div>
