<div class="addtest-layout" fxLayout="row">
  <div fxFlex="10" fxHide.xs></div>
  <div fxFlex="80" fxFlex.xs="100">
    <md-card>
      <input placeholder="试题标题" class="title">
      <div class="time-select-container">
        <span class="time-select-title">测验开始时间：</span>
        <material-datepicker [(date)]="startDate"></material-datepicker>
        <md-select placeholder=" " [(ngModel)]="startHour" class="time-select">
          <md-option *ngFor="let hour of hours" [value]="hour">{{hour}}</md-option>
        </md-select>
        <md-select placeholder=" " [(ngModel)]="startMin" class="time-select">
          <md-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</md-option>
        </md-select>
      </div>
      <div class="time-select-container">
        <span class="time-select-title">测验结束时间：</span>
        <material-datepicker [(date)]="endDate"></material-datepicker>
        <md-select placeholder=" " [(ngModel)]="endHour" class="time-select">
          <md-option *ngFor="let hour of hours" [value]="hour">{{hour}}</md-option>
        </md-select>
        <md-select placeholder=" " [(ngModel)]="endMin" class="time-select">
          <md-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</md-option>
        </md-select>
      </div>
    </md-card>
    <md-card class="question" *ngIf="questions.length != 0">
      <div *ngFor="let question of questions; let i = index">
        <div>
          <!-- 显示题干和类型 -->
          <div class="stem-display">{{i + 1}}. {{compileStem(question.type, question.stem)}}
            <span class="type" *ngIf="question.type == 1">[单选题]</span>
            <span class="type" *ngIf="question.type == 2">[多选题]</span>
            <span class="type" *ngIf="question.type == 3">[填空题]</span>
            <span class="type" *ngIf="question.type == 4">[简答题]</span>
            <button md-icon-button (click)="deleteQuestion(i)">
              <md-icon>delete</md-icon>
            </button>
            <button md-icon-button *ngIf="i != 0" (click)="moveUp(i)">
              <md-icon>arrow_upward</md-icon>
            </button>
            <button md-icon-button *ngIf="i != questions.length - 1" (click)="moveDown(i)">
              <md-icon>arrow_downward</md-icon>
            </button>
          </div>
          <!-- 显示选项等信息 -->
          <!-- 显示单项选择题的选项 -->
          <md-radio-group fxLayout="column" *ngIf="question.type == 1">
            <md-radio-button class="mychoice" *ngFor="let choice of question.choices" value disabled>
              {{choice}}
            </md-radio-button>
          </md-radio-group>
          <!-- 显示多项选择题的选项 -->
          <div fxLayout="column" *ngIf="question.type == 2">
            <md-checkbox class="mychoice" *ngFor="let choice of question.choices" disabled>{{choice}}</md-checkbox>
          </div>
          <!-- 显示填空题的答题线 -->
          <md-input-container *ngIf="question.type == 3">
            <input mdInput placeholder="在此作答" disabled>
          </md-input-container>
          <!-- 显示简答题的答题框 -->
          <md-input-container *ngIf="question.type == 4">
            <textarea mdInput placeholder="在此作答" disabled></textarea>
          </md-input-container>
        </div>
      </div>
    </md-card>
    <md-card class="question">
      <md-card-title>添加题目</md-card-title>
      <md-radio-group [(ngModel)]="newQuestion.type">
        <md-radio-button [value]="1" (click)="clear()">单选题</md-radio-button>
        <md-radio-button [value]="2" (click)="clear()">多选题</md-radio-button>
        <md-radio-button [value]="3" (click)="clear()">填空题</md-radio-button>
        <md-radio-button [value]="4" (click)="clear()">简答题</md-radio-button>
      </md-radio-group>
      <div *ngIf="newQuestion.type == 1" class="question-format">
        <md-input-container class="stem">
          <input mdInput placeholder="单选题题干" [(ngModel)]="newQuestion.stem">
        </md-input-container>
        <div class="choice-container" *ngFor="let choice of choices; let i = index">
          <span class="index">{{indices[i]}}</span>
          <input class="choice" [(ngModel)]="choice.value">
          <button md-icon-button (click)="deleteChoice(i)">
            <md-icon>delete</md-icon>
          </button>
        </div>
        <div class="add-new-choice" (click)="addNewChoice()">+ 添加选项</div>
        <div class="error-message">{{questionErr}}</div>
        <div class="button-container">
          <button md-raised-button class="submit-button" (click)="submitQuestion()">添 加</button>
        </div>
      </div>
      <div *ngIf="newQuestion.type == 2" class="question-format">
        <md-input-container class="stem">
          <input mdInput placeholder="多选题题干" [(ngModel)]="newQuestion.stem">
        </md-input-container>
        <div class="choice-container" *ngFor="let choice of choices; let i = index">
          <span class="index">{{indices[i]}}</span>
          <input class="choice" [(ngModel)]="choice.value">
          <button md-icon-button (click)="deleteChoice(i)">
            <md-icon>delete</md-icon>
          </button>
        </div>
        <div class="add-new-choice" (click)="addNewChoice()">+ 添加选项</div>
        <div class="error-message">{{questionErr}}</div>
        <div class="button-container">
          <button md-raised-button class="submit-button" (click)="submitQuestion()">添 加</button>
        </div>
      </div>
      <div *ngIf="newQuestion.type == 3" class="question-format">
        <md-input-container class="stem">
          <input mdInput placeholder="填空题题干" [(ngModel)]="newQuestion.stem">
        </md-input-container>
        <div class="hint">*在题干中使用“[空]”来挖空，如“一年有[空]天”表示“一年有 _____ 天”</div>
        <div class="error-message">{{questionErr}}</div>
        <div class="button-container">
          <button md-raised-button class="submit-button" (click)="submitQuestion()">添 加</button>
        </div>
      </div>
      <div *ngIf="newQuestion.type == 4" class="question-format">
        <md-input-container class="stem">
          <input mdInput placeholder="简答题题干" [(ngModel)]="newQuestion.stem">
        </md-input-container>
        <div class="error-message">{{questionErr}}</div>
        <div class="button-container">
          <button md-raised-button class="submit-button" (click)="submitQuestion()">添 加</button>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex="10" fxHide.xs></div>
</div>
