.addtest-layout
  width: 100vw
  padding: 16px

  .title
    font-size: 1.5em
    border: none
    border-bottom: 1px solid #dfdfdf
    padding: 8px 0px
    width: 100%
    outline: none

  .detail
    width: 100%
    padding-top: 16px

  .time-select-container
    line-height: 56px

    .time-select-title
      display: inline-block
      line-height: 60px
      height: 66px
      vertical-align: top
    
    .datepicker
      width: 121px

      .date-input
        height: 28px !important
        line-height: 28px

      .date-button
        opacity: 0.66

    .time-select
      height: 47px
      margin: 15px 0px 0px 8px
      vertical-align: top

  .error-message
    padding-top: 8px
    font-size: 0.9em
    color: #f44336
    text-align: center

  .upload-button-container
    text-align: center
    padding-top: 16px

    .upload-button
      background-color: #2196f3
      color: #ffffff

  .question
    margin: 16px 0px 0px 0px

    .stem-display
      font-weight: 600
      font-size: 18px

      .type
        font-weight: 400
        font-size: 14px
        padding-right: 8px
        color: #2196f3

    .text-container
      width: 100%

    // 选项之间的间隔
    .mychoice
      margin: 5px 0px

    .mychoice:nth-child(1)
      margin: 10px 0px 5px 0px

    .mychoice:nth-last-child(1)
      margin: 5px 0px 15px 0px

    .question-format
      margin-top: 8px

      .stem
        width: 100%

      .hint
        font-size: 0.9em
        color: #757575

      .choice-container

        .index
          display: inline-block
          vertical-align: middle
          width: 20px

        .choice
          outline: none
          display: inline-block
          vertical-align: middle
          height: 24px
          margin-left: 8px
          border: none
          border-bottom: 1px solid #dfdfdf
          font-size: 16px

      .add-new-choice
        color: #2196f3
        padding-top: 16px
        display: inline-block

    .error-message
      padding-top: 16px
      font-size: 0.9em
      color: #f44336
      text-align: center

    .button-container
      text-align: center
      padding-top: 16px

      .submit-button
        background-color: #2196f3
        color: #ffffff

      .place-holder
        height: 16px

    md-radio-button
      padding-right: 16px

    @media(max-width: 599px)
      margin-left: 0px

  md-icon
    color: #727272
