.addtest-layout
  width: 100vw
  padding: 16px

  .title
    font-size: 1.4em
    border: none
    border-bottom: 1px solid #eeeeee
    padding: 8px 0px
    width: 100%
    outline: none

  .time-select-container
    padding-top: 16px

    .time-select-title
      display: inline-block
      line-height: 30px
      height: 30px

    .time-select
      vertical-align: top
      margin-left: 8px

  .question-list
    margin: 16px 0px 0px 0px

  .question
    margin: 16px 0px 0px 16px

    @media(max-width: 599px)
      margin-left: 0px
