.test-layout
  width: 100vw
  padding: 16px 8px

  md-card-content
    .stem
      height: 40px
      font-weight: 600
      font-size: 18px
      padding-top: 8px

      .detail-button
        color: rgb(114, 114, 114)

    .choices-container
      padding-left: 40px

      .mychoice
        margin: 0 5px 5px 5px

    .inputLine

    .analyse-container
      padding-left: 40px

      .overview
        font-size: 16px
        margin: 8px
