.test-layout
  width: 100vw
  padding: 16px

  .invalid

    .stem
      font-weight: 600
      font-size: 18px
      padding: 8px 0px

      .detail-button
        color: rgb(114, 114, 114)

    .choices-container
      padding-left: 40px

      .mychoice
        margin: 0 5px 5px 5px

    .analyse-container

      .overview
        padding-left: 40px
        font-size: 16px
        margin: 8px

      .highchart-container
        width: 100%

  .valid
    .logo
      margin: 0px auto 24px auto
      width: 64px
      height: 64px
      background-image: url(/assets/images/logo.png)
      background-size: 64px
      background-position: center
      background-repeat: no-repeat

    .info
      text-align: center

    .student-info

      md-icon
        color: rgb(114, 114, 114)
        margin-right: 8px

    .stem
      height: 40px
      font-weight: 600
      font-size: 18px
      padding-top: 8px

    .text-container
      width: 100%

    .choices
      margin: 0 5px 5px 5px

    .button-container
      text-align: center
      padding-top: 16px

      .submit-button
        background-color: #2196f3
        color: #ffffff
