<div class="test-layout" fxLayout="row" *ngIf="test">
  <div fxFlex="10" fxHide.xs></div>
  <!--如果测试已经结束，显示题目及答题结果-->
  <md-card fxFlex.gt-xs="80" *ngIf="!valid" class="invalid">
    <md-card-title>{{test.name}}</md-card-title>
    <md-card-subtitle>{{toDateString(test.startTime)}}-
      {{toDateString(test.endTime)}}</md-card-subtitle>
    <md-card-content>
      <div class="questions" *ngFor="let question of questions; let myindex = index">
        <div class="stem">
          <button md-icon-button class="detail-button" fxHide="{{!analyseHide[myindex]}}" (click)=expandMore(myindex)><md-icon>chevron_right</md-icon></button>
          <button md-icon-button class="detail-button" fxHide="{{analyseHide[myindex]}}" (click)=expandLess(myindex)><md-icon>expand_more</md-icon></button>
          {{questions.indexOf(question) + 1}}. {{question.stem}}
        </div>
        <div class="choices-container">
          <!-- 如果是单项选择题，则显示选项 -->
          <md-radio-group class="choices" fxLayout="column" *ngIf="question.type == 1">
            <md-radio-button class="mychoice" *ngFor="let choice of question.choices" value disabled>
              {{choice}}
            </md-radio-button>
          </md-radio-group>
          <!-- 如果是多项选择题，则显示选项 -->
          <div class="choices" fxLayout="column" *ngIf="question.type == 2">
            <md-checkbox *ngFor="let choice of question.choices" class="mychoice" disabled>{{choice}}</md-checkbox>
          </div>
          <!-- 如果是填空题，则显示输入的横线 -->
          <md-input-container *ngIf="question.type == 3">
            <input mdInput placeholder="在此作答" disabled>
          </md-input-container>
          <!-- 如果是简答题，则显示 textarea 的小三角框 -->
          <md-input-container *ngIf="question.type == 4">
            <textarea mdInput placeholder="在此作答" disabled></textarea>
          </md-input-container>
        </div>
        <div class="analyse-container" fxHide="{{analyseHide[myindex]}}">
          <div class="overview">本题共 {{answersNumber[questions.indexOf(question)]}} 人参与作答。</div>
          <div class="highchart-container" style="height:400px; min-width:300px" id="{{myindex}}">
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <!--如果测试未结束，显示题目-->
  <md-card fxFlex.gt-xs="80" *ngIf="valid" class="valid">
    <md-card-title>{{test.name}}</md-card-title>
    <div class="studentInfo">
      <md-icon>person</md-icon>
      <md-input-container>
        <input mdInput placeholder="姓名">
      </md-input-container>
    </div>
    <div class="studentInfo">
      <md-icon>school</md-icon>
      <md-input-container>
        <input mdInput placeholder="学号">
      </md-input-container>
    </div>
    <div class="questions" *ngFor="let question of questions; let myindex = index">
      <div class="stem">
        {{myindex + 1}}. {{question.stem}}
      </div>
      <div>
        <!-- 如果是单项选择题，则显示选项 -->
        <md-radio-group fxLayout="column" *ngIf="question.type == 1">
          <md-radio-button class="choices" *ngFor="let choice of question.choices" [value]="choice">
            {{choice}}
          </md-radio-button>
        </md-radio-group>
        <!-- 如果是多项选择题，则显示选项 -->
        <div fxLayout="column" *ngIf="question.type == 2">
          <md-checkbox *ngFor="let choice of question.choices" class="choices">{{choice}}</md-checkbox>
        </div>
        <!-- 如果是填空题，则显示输入的横线 -->
        <md-input-container *ngIf="question.type == 3">
          <input mdInput placeholder="在此作答">
        </md-input-container>
        <!-- 如果是简答题，则显示 textarea 的小三角框 -->
        <md-input-container *ngIf="question.type == 4">
          <textarea mdInput placeholder="在此作答"></textarea>
        </md-input-container>
      </div>
    </div>
  </md-card>
  <div fxFlex="10" fxHide.xs></div>
</div>
