<div class="test-layout" fxLayout="row" *ngIf="test">
  <div fxFlex="10" fxHide.xs></div>
  <md-card fxFlex="80">
    <md-card-title>{{test.name}}</md-card-title>
    <md-card-subtitle>{{toDateString(test.startTime)}}-
      {{toDateString(test.endTime)}}</md-card-subtitle>
    <md-card-content>
      <div class="questions" *ngFor="let question of questions">
        <div class="stem">
          <button md-icon-button class="detail-button" fxHide="{{!choiceHide}}" (click)=expandMore()><md-icon>chevron_right</md-icon></button>
          <button md-icon-button class="detail-button" fxHide="{{choiceHide}}" (click)=expandLess()><md-icon>expand_more</md-icon></button>
          {{questions.indexOf(question) + 1}}、  {{question.stem}}
        </div>
        <div class="choices-container">
          <md-radio-group class="choices" fxLayout="column" fxHide="{{choiceHide}}">
            <md-radio-button class="mychoice" *ngFor="let choice of question.choices"
            [value]="choice" disabled="true">
              {{choice}}
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <div fxFlex="10" fxHide.xs></div>
</div>
