<div class="test-layout" fxLayout="row" *ngIf="test">
  <div fxFlex="10" fxHide.xs></div>
  <!-- 如果已登录教师账号且考试开始或结束 -->
  <md-card fxFlex.gt-xs="80" *ngIf="isAuth && valid != -1" class="invalid">
    <md-card-title>{{test.name}}</md-card-title>
    <md-card-subtitle>{{toDateString(test.startTime)}} - {{toDateString(test.endTime)}}</md-card-subtitle>
    <md-card-content>
      <div class="questions" *ngFor="let question of questions; let myIndex = index">
        <div class="stem">
          <button md-icon-button class="detail-button" fxHide="{{!analyseHide[myIndex]}}" (click)=expandMore(myIndex)><md-icon>chevron_right</md-icon></button>
          <button md-icon-button class="detail-button" fxHide="{{analyseHide[myIndex]}}" (click)=expandLess(myIndex)><md-icon>expand_more</md-icon></button>
          {{questions.indexOf(question) + 1}}. {{question.stem}}
        </div>
        <div class="choices-container">
          <!-- 如果是单项选择题，则显示选项 -->
          <md-radio-group class="choices" fxLayout="column" *ngIf="question.type == 1">
            <md-radio-button class="mychoice" *ngFor="let choice of question.choices" value disabled>
              {{choice}}
            </md-radio-button>
          </md-radio-group>
          <!-- 如果是多项选择题，则显示选项 -->
          <div class="choices" fxLayout="column" *ngIf="question.type == 2">
            <md-checkbox *ngFor="let choice of question.choices" class="mychoice" disabled>{{choice}}</md-checkbox>
          </div>
          <!-- 如果是填空题，则显示输入的横线 -->
          <md-input-container *ngIf="question.type == 3">
            <input mdInput placeholder="在此作答" disabled>
          </md-input-container>
          <!-- 如果是简答题，则显示 textarea 的小三角框 -->
          <md-input-container *ngIf="question.type == 4" class="text-container">
            <textarea mdInput placeholder="在此作答" disabled></textarea>
          </md-input-container>
        </div>
        <div class="analyse-container" fxHide="{{analyseHide[myIndex]}}">
          <div class="overview">本题共 {{answersNumber[questions.indexOf(question)]}} 人参与作答。</div>
          <div class="highchart-container" id="{{myIndex}}"></div>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <!-- 如果未登录教师账号且考试未开始 -->
  <md-card fxFlex.gt-xs="80" *ngIf="isAuth == false && valid == -1" class="valid">
    <div class="logo"></div>
    <div class="info">考试未开始...</div>
  </md-card>
  <!-- 如果未登录教师账号且考试正在进行或登录老师账号且考试未进行 -->
  <md-card fxFlex.gt-xs="80" *ngIf="(isAuth == false && valid == 0) || (isAuth && valid == -1)" class="valid">
    <md-card-title>{{test.name}}</md-card-title>
    <div class="student-info">
      <md-icon>person</md-icon>
      <md-input-container>
        <input mdInput placeholder="姓名" [(ngModel)]="studentName">
      </md-input-container>
    </div>
    <div class="student-info">
      <md-icon>school</md-icon>
      <md-input-container>
        <input mdInput placeholder="学号" [(ngModel)]="studentId">
      </md-input-container>
    </div>
    <div class="questions" *ngFor="let question of questions; let myIndex = index">
      <div class="stem">{{myIndex + 1}}. {{question.stem}}</div>
      <div>
        <!-- 如果是单项选择题，则显示选项 -->
        <md-radio-group fxLayout="column" *ngIf="question.type == 1" [(ngModel)]="studentAnswers[myIndex]" ngDefaultControl>
          <md-radio-button class="choices" *ngFor="let choice of question.choices" [value]="choice">{{choice}}</md-radio-button>
        </md-radio-group>
        <!-- 如果是多项选择题，则显示选项 -->
        <div fxLayout="column" *ngIf="question.type == 2">
          <md-checkbox *ngFor="let choice of question.choices; let i = index" [(ngModel)]="studentAnswers[myIndex][i]" ngDefaultControl>{{choice}}</md-checkbox>
        </div>
        <!-- 如果是填空题，则显示输入的横线 -->
        <md-input-container *ngIf="question.type == 3" [(ngModel)]="studentAnswers[myIndex]" ngDefaultControl>
          <input mdInput placeholder="在此作答">
        </md-input-container>
        <!-- 如果是简答题，则显示 textarea 的小三角框 -->
        <md-input-container *ngIf="question.type == 4" [(ngModel)]="studentAnswers[myIndex]" ngDefaultControl class="text-container">
          <textarea mdInput placeholder="在此作答"></textarea>
        </md-input-container>
      </div>
    </div>
    <div class="button-container">
      <button md-raised-button *ngIf="isAuth == false" class="submit-button" (click)="submitTest()">提 交</button>
    </div>
  </md-card>
  <!-- 如果未登录教师账号且考试已结束 -->
  <md-card fxFlex.gt-xs="80" *ngIf="isAuth == false && valid == 1" class="valid">
    <div class="logo"></div>
    <div class="info">考试已结束~</div>
  </md-card>
  <div fxFlex="10" fxHide.xs></div>
</div>
