<div class="home-layout" fxLayout="row">
  <div fxFlex="10" fxHide.xs></div>
  <div fxFlex="80" fxFlex.xs="100" *ngIf="user" fxLayout.xs="column" fxLayoutAlign.gt-xs="start start">
    <!-- 非窄屏个人信息 -->
    <md-card fxFlex="30" class="profile" fxHide.xs>
      <div class="user-avartar-container">
        <input type="file" accept="image/*" (change)="avatarChange($event)" id="user-avartar">
        <div class="user-avartar" [style.background-image]="'url(' + user.avatar + ')'">
          <label for="user-avartar" class="user-avartar-cover">更换头像</label>
        </div>
      </div>
      <md-card-title>{{user.username}}</md-card-title>
      <form #info="ngForm" class="info-form">
        <md-input-container>
          <input mdInput placeholder="姓名" name="username" [ngModel]="user.username">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="学校" name="university" [ngModel]="user.university">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="院系" name="school" [ngModel]="user.school">
        </md-input-container>
        <div class="error-message">{{errorMessage}}</div>
        <button md-raised-button (click)="updateUserInfo(info.value)" class="submit-change-button">提交修改</button>
      </form>
    </md-card>
    <!-- 窄屏个人信息 -->
    <md-card fxHide.gt-xs class="xs-profile">
      <div class="user-avartar" [style.background-image]="'url(' + user.avatar + ')'"></div>
      <div class="user-info">
        <md-card-title>{{user.username}}</md-card-title>
        <md-card-subtitle>{{user.university}}{{user.school}}</md-card-subtitle>
      </div>
    </md-card>

    <md-card fxFlex="70" class="course">
      <md-card-title>课程列表</md-card-title>
      <md-list>
        <md-list-item class="tableHeader">
          <p fxFlex="33" fxFlex.xs="80">课程名称</p>
          <p fxFlex="33">课程时间</p>
          <p fxFlex="33">课程地点</p>
        </md-list-item>
        <md-list-item class="courseList" *ngFor = "let course of courses" (click) = gotoCourse(course)>
          <p fxFlex="33" fxFlex.xs="80">{{course.name}}</p>
          <p fxFlex="33">{{course.time}}</p>
          <p fxFlex="33">{{course.classroom}}</p>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
  <div fxFlex="10" fxHide.xs></div>
</div>
