.home-layout
  width: 100vw
  padding: 16px 8px

  .profile
    margin-right: 16px

    .avatar-container
      text-align: center

      .avatar
        width: 80px
        height: auto

    .info-form
        padding: 16px 16px 16px 16px
        text-align: center

        md-input-container
          width: 100%

        .error-message
          color: #a94442
          margin: 0px 0px 16px 0px
          padding: 8px
          text-align: center
          background-color: #f2dede
          border: 1px solid #ebccd1

        .submit-change-button
          color: #FFFFFF
          background-color: #2196F3

  .course
