// 定义主题
@import '~@angular/material/theming'
@include mat-core()

$candy-app-primary: mat-palette($mat-grey, 50)
$candy-app-accent: mat-palette($mat-blue)

$candy-app-warn: mat-palette($mat-red)

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn)

@include angular-material-theme($candy-app-theme)

// 页面布局
.holy-grail
  display: flex
  min-height: 100vh
  flex-direction: column

  .fixed-toolbar
    position: fixed
    z-index: 1000
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24)
    padding: 0px

    .toolbar-layout
      width: 100%

      .toolbar-content
        padding: 0px 8px

  .holy-grail-body
    display: flex
    flex: 1
    background-color: #eeeeee
