<div class="holy-grail">
  <!-- 顶栏 -->
  <header>
    <md-toolbar color="primary" class="fixed-toolbar">
      <div class="toolbar-layout" fxLayout="row">
        <div fxFlex="10" fxHide.xs></div>
        <div fxFlex="80" fxFlex.xs="100" class="toolbar-content">这里是 toolbar</div>
        <div fxFlex="10" fxHide.xs></div>
      </div>
    </md-toolbar>
  </header>
  <!-- 用于占位的假顶栏 -->
  <md-toolbar></md-toolbar>

  <!-- 内容 -->
  <div class="holy-grail-body">
    <!-- 子页面 -->
    <router-outlet></router-outlet>
  </div>

  <!-- 底栏 -->
  <footer>
    <div fxLayout="row">
      <div fxFlex="10" fxHide.xs></div>
      <div fxFlex="80" fxFlex.xs="100" class="footer-content">这里是 footer</div>
      <div fxFlex="10" fxHide.xs></div>
    </div>
  </footer>
</div>
