// 页面布局
.holy-grail
  display: flex
  min-height: 100vh
  flex-direction: column

  .fixed-toolbar
    position: fixed
    z-index: 1000
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24)
    padding: 0px
    background-color: #ffffff

    .toolbar-layout
      width: 100%

      .toolbar-content
        padding: 0px 8px
        height: 40px

        @media (max-width: 599px)
          padding: 0px 16px

        .logo
          width: 32px
          height: 32px
          padding: 4px 0px
          background-image: url(/assets/images/logo.png)
          background-size: 32px
          background-position: center
          background-repeat: no-repeat
          display: inline-block

        .name
          height: 40px
          line-height: 40px
          padding-left: 8px
          display: inline-block
          vertical-align: top
          color: #212121
          font-weight: normal

        .user
          text-align: right

          .user-avatar
            width: 40px
            height: 40px
            border-radius: 20px
            display: inline-block
            vertical-align: middle
            background-repeat: no-repeat
            background-position: center center
            background-size: cover

  .holy-grail-body
    display: flex
    flex: 1
    background-color: #eeeeee

  .footer
    background-color: #eeeeee

    .footer-content
      padding: 8px

      .divider
        border-top: 1px solid #bdbdbd
        margin-bottom: 4px

      .footer-text
        color: #bdbdbd
        text-align: center
        font-size: 0.9em
