<div class="login-layout" fxLayout="row">
  <div fxFlex></div>
  <div fxFlex="320px">
    <div class="logo"></div>
    <!-- 注册页标题 -->
    <div class="name" *ngIf="router.url == '/login/sign-up'">注册成为 Scrat 教师</div>
    <!-- 登录页标题 -->
    <div class="name" *ngIf="router.url == '/login/sign-in'">Scrat 教师登录</div>
    <md-card class="login-card">
      <!-- 注册页表单 -->
      <form #signUpInfo="ngForm" *ngIf="router.url == '/login/sign-up'">
        <md-input-container>
          <input mdInput placeholder="用户名" type="text" name="username" [ngModel] (blur)="signUpCheck(0, signUpInfo.value)">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="密码" type="password" name="password" [ngModel] (blur)="signUpCheck(1, signUpInfo.value)">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="确认密码" type="password" name="confirm" [ngModel] (blur)="signUpCheck(2, signUpInfo.value)">
        </md-input-container>
        <div class="error-message">{{signUpError}}</div>
        <button md-raised-button class="submit-button" (click)="signUpSubmit(signUpInfo.value)">注 册</button>
      </form>
      <!-- 登录页表单 -->
      <form #signInInfo="ngForm" *ngIf="router.url == '/login/sign-in'">
        <md-input-container>
          <input mdInput placeholder="用户名" type="text" name="username" [ngModel] (blur)="signInCheck(0, signInInfo.value)">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="密码" type="password" name="password" [ngModel] (blur)="signInCheck(1, signInInfo.value)">
        </md-input-container>
        <div class="error-message">{{signInError}}</div>
        <button md-raised-button class="submit-button" (click)="signInSubmit(signInInfo.value)">登 录</button>
      </form>
    </md-card>
    <md-card *ngIf="router.url == '/login/sign-up'">
      <span>已有 Scrat 教师账号？</span>
      <button md-button class="change-button" (click)="changePage()">直接登录</button>
    </md-card>
    <md-card *ngIf="router.url == '/login/sign-in'">
      <span>还没有 Scrat 教师账号？</span>
      <button md-button class="change-button" (click)="changePage()">立即注册</button>
    </md-card>
  </div>
  <div fxFlex></div>
</div>
