/* 预设 Material Design 样式 */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* 撑满页面 */
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* loader */
.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.loader-logo {
  height: 100px;
  background-image: url(/assets/images/logo.png);
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.mat-list-item-content {
  padding: 0px !important
}
