/* 预设 Material Design 样式 */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* 矫正 date picker */
.datepicker__input {
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid #eeeeee !important;
  width: 76px;
  font-size: 16px !important;
  width: 88px;
  padding-bottom: 5px !important;
}

/* 撑满页面 */
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* loader */
.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.loader-logo {
  height: 100px;
  background-image: url(/assets/images/logo.png);
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
}

/* 矫正 list item */
.mat-list-item-content {
  padding: 0px !important;
}

/* 矫正 highcharts */
.highcharts-credits {
  display: none !important;
}
.highcharts-container {
  margin: 0 auto !important;
}

/* 矫正 radio button */
.mat-radio-container {
  top: 5px !important;
}
.mat-radio-checked .mat-radio-outer-circle {
  border-color: #673ab7 !important;
}
.mat-radio-checked .mat-radio-inner-circle {
  background-color: #673ab7 !important;
}
.mat-radio-ripple {
  display: none;
}

/* 矫正 checkbox */
.mat-checkbox-checked .mat-checkbox-checkmark {
  background-color: #673ab7 !important;
}

.mat-checkbox-ripple {
  background-color: #673ab7 !important;
  display: none;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #673ab7 !important;
}

/* 矫正 input */
.mat-input-element {
  height: 24px !important;
}
.mat-input-underline {
  margin: 0px !important;
}
.mat-input-placeholder-wrapper {
  height: 24px !important;
}

.studentInfo .mat-input-wrapper {
  padding-bottom: 0px !important;
}

.highcharts-container {
  width: 100% !important;
}
.highcharts-root {
  width: 100% !important;
}
